@import './variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $bg-color;
  color: $text-color;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 12px;
}

ul {
  list-style: none;
}

button {
  font-size: inherit;
  border: none;
  background: none;
  cursor: pointer;
  color: inherit;
  font-family: inherit;
}

select {
  cursor: pointer;
  font-family: inherit;
  appearance: none;
  border: none;
  outline: none;
}

input {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
