@import '@/styles/variables';

.head {
  font-weight: 700;
  button {
    font-weight: 700;

    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
  }

  &__id {
    text-align: center;
  }

  &__action {
    text-align: center;
  }
}

.empty {
  padding: 32px;
}
